<!-- This is the footer -->
        <!-- The footer goes inside the body but not always -->
        <footer>
            <hr>
            <div>
                <img src="img/CSUMB-Round-Logo-for-Licensing-18-blue.png" alt="CSUMB Logo" />
            </div>
            <div>
                CST336 Internet Programming. 2020&copy; Alcaraz <br />
                <strong>Disclaimer:</strong> The information in this webpage is fictitious. <br />
                It is used for acamdeic purposes only. Thank you to <%= faker.name.findName() %> for your contribution.
            </div>
        </footer>
        <!-- closing footer -->
        
    </body>
    <!-- closing body -->

</html>