<%- include('partials/header.ejs') %>
        <header>
            <h1>Operating Systems</h1>
        </header>
        <hr />
        <nav>
            <a href="/" class="current">Home</a>
            <a href="/windows">Windows</a>
            <a href="/mac">Mac</a>
            <a href="/linux">Linux</a>
        </nav>
        
        <br /><br />
        
        <main>
            <figure>
                <img src="img/MacWinLinux.png" width="450" alt="Mac Windows Linux" />
            </figure>
            
            <div>
                <h2>Operating Systems</h2>
                <p>The most commonly used operating systems for the personal computer are Windows, macOS, and Linux <sup><a href="https://edu.gcfglobal.org/en/computerbasics/understanding-operating-systems/1/" class="sourcelink">source</a></sup></p>
                <table>
                <tr id="table-header">
                    <td><strong>Operating System</strong></td>
                    <td><strong>User Share</strong></td>
                </tr>
                <tr class="table-row">
                    <td>Windows</td>
                    <td>80%</td>
                </tr>
                <tr class="table-row">
                    <td>Mac</td>
                    <td>10%</td>
                </tr>
                <tr class="table-row">
                    <td>Linux</td>
                    <td>2%</td>
                </tr>
            </table>
                <p>For more detail of each operating system, navigate the links above.</p>
                
                <br /><br />
                
            </div>
        </main>
<%- include('partials/footer.ejs') %>        