<%- include('partials/header.ejs') %>
        <header>
            <h1>Operating Systems</h1>
        </header>
        <hr />
        <nav>
            <a href="/">Home</a>
            <a href="/windows">Windows</a>
            <a href="/mac">Mac</a>
            <a href="/linux" class="current">Linux</a>
        </nav>
        
        <br /><br />
        
        <main>
            <figure>
                <img src="img/linux.png" width="200" alt="Linux" />
            </figure>
            
            <div>
                <h2>Linux</h2>
                <p>Linux is open source and therefore can be distributed by anyone around the world. <sup><a href="https://edu.gcfglobal.org/en/computerbasics/understanding-operating-systems/1/" class="sourcelink">source</a></sup></p>
                
                <p>An advantage of Linux is it is free to use. There are many distributions of Linux such as: </p>
                <ul>
                    <li class="linux_os">Ubuntu</li>
                    <li class="linux_os">Redhat</li>
                    <li class="linux_os">Debian</li>
                    <li class="linux_os">CentOS</li>
                </ul>
                <br /><br />
                
            </div>
        </main>
<%- include('partials/footer.ejs') %>