<%- include('partials/header.ejs') %>
        <header>
            <h1>Operating Systems</h1>
        </header>
        <hr />
        <nav>
            <a href="/">Home</a>
            <a href="/windows">Windows</a>
            <a href="/mac" class="current">Mac</a>
            <a href="/linux">Linux</a>
        </nav>
        
        <br /><br />
        
        <main>
            <figure>
                <img src="img/macOS.png" width="200" alt="macOS" />
            </figure>
            
            <div>
                <h2>macOS</h2>
                <p>macOS is Apple's personal computer operating system. It was formerly named Mac OS X</p>
                
                <p>Catalina is the latest version of macOS. The next version will be called Big Sur. <sup><a href="https://edu.gcfglobal.org/en/computerbasics/understanding-operating-systems/1/" class="sourcelink">source</a></sup></p>
                
                <br /><br />
                
            </div>
        </main>
<%- include('partials/footer.ejs') %>        