<%- include('partials/header.ejs') %>
        <header>
            <h1>Operating Systems</h1>
        </header>
        <hr />
        <nav>
            <a href="/">Home</a>
            <a href="/windows" class="current">Windows</a>
            <a href="/mac">Mac</a>
            <a href="/linux">Linux</a>
        </nav>
        
        <br /><br />
        
        <main>
            <figure>
                <img src="img/Windows-10-logo-400x400.png" height="200" width="200" alt="Windows" />
            </figure>
            
            <div>
                <h2>Microsoft Windows</h2>
                <p>Windows comes pre-loaded on most new PCs and therefore is the most used operating system in the world.</p>
                
                <p>The latest version of Windows operating system is Windows 10 <sup><a href="https://edu.gcfglobal.org/en/computerbasics/understanding-operating-systems/1/" class="sourcelink">source</a></sup></p>
                
                <br /><br />
                
            </div>
        </main>
<%- include('partials/footer.ejs') %>