body {
    background-color: #FFFFFF;
    color:gray;
}

header, main, nav, footer {
    text-align: center;
}

nav a { /* links within "nav" container */
    padding:15px;
    padding-bottom:4px;
    font-size: 1.8em;
    text-decoration: none;    /* removes underline */
    color: gray;             /* by default, links are blue */               
}

nav a:hover {    /* psuedo class */
    border-bottom:2px orange solid;
    font-size: 2em;
    transition: .9s;    /* transition effect */
}

.current {
    font-weight: bold;
    text-decoration: italic;
}

sup {
    font-style: oblique;
}

.sourcelink {
    text-decoration: none;
}

table {
    margin: 0px auto;
    border: 1px solid black;
}

td {
    padding-right: 10px;
    font-size: 1.3em;
    border: 1px solid black;
}

td strong {
    color: black;
}

#table-header {
    background-color: #FFFFFF;
}

.table-row {
    background-color: #FFFFFF;
    border: 1px solid black;
}

ul {
    width: 500px;
    margin: 0 auto;
    text-align: left;
}

.linux_os {
    list-style-type: square;
}

main, #iframe_content {
    display: flex;
    justify-content: center;
}

#iframe_content {
    
}

footer {
    font-size: 10px;
    color: gray;
}
footer img {
    height: 100px;
    width: 100px;
}